* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
   
     background: radial-gradient( circle,pink, #d7d7f0); 
    color: #333;
}

header {
    text-align: center;
    padding: 20px;
    font-family: "Dancing Script", cursive;
   
    background-color: #fa8f87;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.gallery-container {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    width: 80%;
}

.image {
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.image:hover {
    transform: scale(1.05);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #ff6f61;
    color: white;
    font-size: 1rem;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
}
